# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml

# flyctl launch added from venv/.gitignore
# created by virtualenv automatically
venv/**/*
fly.toml
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
Dockerfile
