# Database
SQLAlchemy~=1.4.41
psycopg2
psycopg2-binary

# FastAPI
pydantic~=1.10.2
uvicorn~=0.18.3
fastapi~=0.82.0
python-dotenv

# Security
pyjwt~=2.4.0
passlib~=1.7.4

# Email
emails~=0.6

python-multipart
starlette~=0.19.1
tenacity~=8.0.1
alembic~=1.8.1
bcrypt